

body {
  background: url('mybackround.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 30em

}



.about-container {
  background: url('mybackround.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}


h3 {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  font-weight:normal;
  margin-top: 100px;
}

.yellow {
  border-top: 5px double #F5A623;
  width: 250px;
}

.box {
  float:left;
 
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
}

.clear {
  clear:both;
}

h4 {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

p {
  margin-left: auto;
  margin-right: auto;
}